.ripple-grid-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* Extend slightly beyond viewport to ensure full coverage */
    margin: -2px;
    padding: 2px;
}

.ripple-grid-container canvas {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}